<div class="wrapper">
  <%= render "shared/login_after_header" %>
    <%# 投稿フォーム %>
    <main class="container_chat">
      <%= form_with(model: @trouble,id: "self_compassion") do |f| %>
        <div class="form_chat">
          <div class="left_btn"><%= f.radio_button :message_type, :trouble %>
            <%= f.label :message_type_trouble, '悩みをつぶやく' %>
          </div>
          <div class="right_btn"><%= f.radio_button :message_type, :encouragement %>
            <%= f.label :message_type_encouragement, '励ましの言葉をかける' %>
          </div>
          <div class="message_form_text"><%= f.text_field :worry, id: "content_worry", placeholder: "メッセージを入力", size: "25" %></div>
          <div class="message_btn_text"><%= f.submit "POST" , id: "submit_message"%></div>
        </div>
      <% end %>
       <%# 最新のメッセージが反映される場所 %>
      <div id="list_messages">
        <ul class="messages">
        </ul>
      </div>
      <div class="index_area">
       <%# 今までのメッセージが表示される場所%>
      <% @troubles.each do |trouble| %>
        <% if trouble.trouble? %>
           <li class="message-left-side">
             <div class="pic-chat">
                <img src="/assets/sad.png" alt="落ち込んでいる画像">
             </div>
             <div class="text-chat">
                <div class="post-content">
                  <%= trouble.worry %>
                </div>
                <div class="post-date">
                  投稿日時：<%= l trouble.created_at %>
                </div>
              </div>
            </li>
          <% else trouble.encouragement? %>
            <li class="message-right-side">
              <div class="pic-chat">
                <img src="/assets/kind.png" alt="励ましている画像">
              </div>
              <div class="text-chat">
                <div class="post-content">
                  <%= trouble.worry %>
                </div>
                <div class="post-date">
                  投稿日時：<%= l trouble.created_at %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </main>
</div>