<div class="wrapper">
<%= render "shared/login_after_header" %>
<main class="container-chat">
  <div class="form-area">
    <div class="form-chat">
      <%= form_with(model: @trouble,id: "form_worry") do |f| %>
        <%= f.text_field :worry, id: "content_worry", placeholder: "悩みをつぶやこう" %>
        <%= f.submit "POST" , id: "submit_worry"%>
      <% end %>
    </div>
    <div class="form-chat">
      <%= render "encouragements/index" %>
      <%# <%= form_with(model: @encouragement,id: "form_encouragement") do |f| %> %>
        <%# <%= f.text_field :encouragement, id: "content_encouragement", placeholder: "悩みに対して、もう一人の自分が温かい声をかけよう" %> %>
        <%# <%= f.submit "POST" , id: "submit_encouragement"%> %>
      <%# <% end %> %>
    </div>
  </div>

  <div id="list_messages">
    <ul class="messages">
      <%# <li class="message-right-side"> %>
        <%# <div class="pic-chat"> %>
        <%# <img src="/assets/kind.png" alt="励ましている画像"> %>
        <%# </div> %>
        <%# <div class="text-chat"> %>
        <%# </div> %>
      <%# </li>  %>
    </ul>
  </div>

  <% @troubles.each do |trouble| %>
    <li class="message-left-side">
        <div class="pic-chat">
        <img src="/assets/sad.png" alt="落ち込んでいる画像">
        </div>
        <div class="text-chat">
          <div class="post-content">
          <%= trouble.worry %>
          </div>
          <div class="post-date">
          投稿日時：<%= trouble.created_at %>
          </div>
        </div>
      </li>
  <% end %>

  <%# <% @encouragements.each do |encouragement| %> %>
    <%# <li class="message-right-side"> %>
        <%# <div class="pic-chat"> %>
        <%# <img src="/assets/kind.png" alt="励ましている画像"> %>
        <%# </div> %>
        <%# <div class="text-chat"> %>
          <%# <div class="post-content"> %>
          <%# <%= encouragement.encouragement %> %>
          <%# </div> %>
          <%# <div class="post-date"> %>
          <%# 投稿日時：<%= encouragement.created_at %> %>
          <%# </div> %>
        <%# </div> %>
      <%# </li> %>
  <%# <% end %> %>
</main>
<%= render "shared/login_after_footer" %>
</div>