  <main class="container-chat">
    <div class="message-left-side">
      <div class="pic-chat">
      <%= image_tag 'sad.png' ,class:"pic" %>
      </div>
      <div class="text-chat">
      <%= render "trouble" %>
      </div>
    </div>
    <div class="message-right-side">
      <div class="pic-chat">
      <%= image_tag 'kind.png' ,class:"pic" %>
      </div>
      <div class="text-chat">
      <%# ここには励ましをレンダー%>
      <%= render @troubles %>
      </div>
    </div>
  </div>

  <div class="form-area">
    <div class="form-chat">
      <%= form_with(model: @trouble,id: "new_article") do |f| %>
        <%= f.text_field :worry, class: "article_form", id: "article_text", placeholder: "悩みをつぶやこう" %>
        <%= f.submit "POST" , id: "submit_btn"%>
      <% end %>
    </div>
    <div class="form-chat">
      <%= form_with(model: @trouble,id: "new_article") do |f| %>
        <%= f.text_field :worry, class: "article_form", id: "article_text", placeholder: "悩みに対して、もう一人の自分が温かい声をかけよう" %>
        <%= f.submit "POST" , id: "submit_btn"%>
      <% end %>
    </div>
  </div>
</main>