  <div class="contents" id="contents_area">
    <ul class="messages">
  <div id="new_article">
      <li class="left-side">
        <div class="pic">
          <%= image_tag 'sad.png' ,class:"pic" %>
          </div>
          <div class="text">
          <%= render @troubles %>
          </div>
          </div>
      </li>
  <div id="new_article">
      <li class="right-side">
        <div class="pic">
          <%= image_tag 'kind.png' ,class:"pic" %>
        </div>
        <div class="text">
          <%# <%= render @troubles.encouragement %>
        </div>
      </li>
        </div>
    </ul>
  </div>
<div class="form-area">
  <div class="form">
    <%= form_with(model: @trouble, local: true, id: "new_article") do |f| %>
      <%= f.text_field :worry, class: "article_form", id: "article_text" %>
      <%= f.submit "POST" , id: "submit_btn"%>
      <%# <%= f.text_field :encouragement, class: "article_form", id: "article_text" %>
      <%= f.submit "POST" , id: "submit_btn"%>
    <% end %>
  </div>
</div>