<div class="wrapper">
<%= render "shared/third-header" %>

<%= form_with model: @user, url: registration_path(resource_name), class: 'registration-main', autocomplete: 'off', local: true do |f| %>
  <div class='form-wrap'>
    <div class='form-header'>
      <h1 class='form-header-text'>
        ユーザー情報の編集
      </h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
      </div>
      <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"10文字以下", maxlength:"10" , autofocus: true %>
    </div>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autocomplete: 'off' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">生年月日</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='input-birth-wrap'>
        <%= raw sprintf(
                    f.date_select(
                      :birthdate,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>

    <div class='login-btn'>
      <%= f.submit "更新する", class:"login-red-btn" %>
    </div>
  </div>
<% end %>
</div>