<div class="wrapper">
<%= render "shared/login_after_header" %>
<div class="index_new">
<%= link_to image_tag("pen.png", class:"pen-icon"), new_objective_path %>
</div>
<div class="contents row">
  <% @objectives.each do |objective| %>
    <div class="content_post" style="background-image: url(<%= asset_path('note.png') %>);"%>
      <div class="more">
        <span><%= image_tag 'pin.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', objective_path(objective.id), method: :get %>
          </li>
          <li>
            <%= link_to '編集', edit_objective_path(objective.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', objective_path(objective.id), method: :delete %>
          </li>
        </ul>
      </div>
      <div class="overview">
      <ul>
        <li class="overview_text_created_at"><%= objective.created_at.strftime('%Y/%m/%d') %>【<%= objective.category.name %>】</li>
        <br>
        <li class="overview_text"><%= objective.title %></li>
      </ul>
    </div>
    </div>
  <% end %>
</div>
<%= render "shared/login_after_footer" %>
</div>