<header class='top_page_header'>
    <div class='left_menu'>
    <%= link_to image_tag("icon.png", class:"action-icon"), "/" %>
    </div>
    <div class='right_menu'>
      <ul>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, objectives_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %> </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
      </ul>
    </div>
</header>