<%# パソコンサイズの場合 %>
<header class='login_after_header'>
    <div class='left_menu_login_after'>
      <%= link_to image_tag("icon.png", class:"action-icon"), habits_path %>
      <%= link_to "#{current_user.nickname}さんのページ", edit_user_registration_path %>
    </div>
    <div class='right_menu_login_after'>
      <ul>
        <li><%= link_to  objectives_path, class: "btn objectives_page" do %> <%= image_tag "goal.png", size:'24x24'%>目標設定(WOOPの法則)<% end %></li>
        <li><%= link_to  habits_path, class: "btn rules_page" do %> <%= image_tag "rules.png", size:'24x24'%>習慣カウント(イフゼンルール)<% end %></li>
        <li><%= link_to  troubles_path, class: "btn troubles_page" do %> <%= image_tag "care.png", size:'24x24'%>セルフコンパッション<% end %></li>
        <li class="logout_content""><%= link_to destroy_user_session_path, method: :delete, class: "btn logout_page" do %><%= image_tag "logout.png", size:'24x24'%>ログアウト<% end %></li>
      </ul>
    </div>
</header>

<%# タブレットサイズ以下の場合 %>
<header class='login_after_header_tablet'>
    <div class='left_menu_login_after_tablet'>
      <%= link_to image_tag("icon.png", class:"action-icon"), habits_path %>
      <p id="user_name"><%= "#{current_user.nickname}さんのページ" %></p>
    </div>
    <div class='right_menu_login_after_tablet'>
      <ul>
        <li><%= link_to  objectives_path, class: "btn objectives_page" do %> <%= image_tag "goal.png", size:'24x24'%>目標<% end %></li>
        <li><%= link_to  habits_path, class: "btn rules_page" do %> <%= image_tag "rules.png", size:'24x24'%>習慣<% end %></li>
        <li><%= link_to  troubles_path, class: "btn troubles_page" do %> <%= image_tag "care.png", size:'24x24'%>励まし<% end %></li>
        <li class="logout_content""><%= link_to destroy_user_session_path, method: :delete, class: "btn logout_page" do %><%= image_tag "logout.png", size:'24x24'%>ログアウト<% end %></li>
      </ul>
    </div>
</header>