 <%= form_with(model: @encouragement,id: "form_encouragement") do |f| %>
        <%= f.text_field :encouragement, id: "content_encouragement", placeholder: "悩みに対して、もう一人の自分が温かい声をかけよう" %>
        <%= f.submit "POST" , id: "submit_encouragement"%>
      <% end %>

        <div id="list_messages">
    <ul class="messages">
      </ul>
  </div>

   <%# <% @encouragements.each do |encouragement| %> %>
    <%# <li class="message-right-side"> %>
        <%# <div class="pic-chat"> %>
        <%# <img src="/assets/kind.png" alt="励ましている画像"> %>
        <%# </div> %>
        <%# <div class="text-chat"> %>
          <%# <div class="post-content"> %>
          <%# <%= encouragement.encouragement %> %>
          <%# </div> %>
          <%# <div class="post-date"> %>
          <%# 投稿日時：<%= encouragement.created_at %> %>
          <%# </div> %>
        <%# </div> %>
      <%# </li> %>
  <%# <% end %> %>