<div class="wrapper">
  <%= render "shared/login_after_header" %>

  <%= form_with(model: @habit, local: true) do |f| %>
      <div class="save_center_content"><%= f.submit "S A V E" , class:"save_center", id:"save_center"%></div>
      <div class="save_setting_content"><%= link_to rules_path, class:"setting_center", id:"setting_center" do %><%= image_tag "setting.png", size:'24x24'%>イフゼンルールの設定<% end %></div>
    <div class="habit_main" id="habit_main">
      <div class="habit1_content">
        <ul><h1 class="text_habit">食事</h1>
          <div class="habit1_content_count">
            <%= f.check_box :count_1, checked: true, class: "count_1" %>
            <%= f.label :count_1, 'done!', class: "label_count_1" %>
            <br>
            <%= f.check_box :restart_1, checked: false, class: "restart_1" %>
            <%= f.label :restart_1, 'restart!', class: "label_restart_1" %>
          </div>
        </ul>
          <div>
            <p><%= @rule.if_1 %></p>
            <p><%= @rule.then_1 %></p>
          </div>
      </div>
      <div class="habit2_content">
        <ul><h1 class="text_habit">睡眠</h1>
          <div class="habit2_content_count">
            <%= f.check_box :count_2, checked: true, class: "count_2" %>
            <%= f.label :count_2, 'done!', class: "label_count_2" %>
            <br>
            <%= f.check_box :restart_2, checked: false, class: "restart_2" %>
            <%= f.label :restart_2, 'restart!', class: "label_restart_2" %>
          </div>
        </ul>
          <div>
            <p><%= @rule.if_2 %></p>
            <p><%= @rule.then_2 %></p>
          </div>
      </div>
      <div class="habit3_content">
        <ul><h1 class="text_habit">運動</h1>
          <div class="habit3_content_count">
            <%= f.check_box :count_3, checked: true, class: "count_3" %>
            <%= f.label :count_3, 'done!', class: "label_count_3" %>
            <br>
            <%= f.check_box :restart_3, checked: false, class: "restart_3" %>
            <%= f.label :restart_3, 'restart!', class: "label_restart_3" %>
          </div>
        </ul>
          <div>
            <p><%= @rule.if_3 %></p>
            <p><%= @rule.then_3 %></p>
          </div>
      </div>
      <div class="habit4_content">
        <ul><h1 class="text_habit">学び</h1>
          <div class="habit4_content_count">
            <%= f.check_box :count_4, checked: true, class: "count_4" %>
            <%= f.label :count_4, 'done!', class: "label_count_4" %>
            <br>
            <%= f.check_box :restart_4, checked: false, class: "restart_4" %>
            <%= f.label :restart_4, 'restart!', class: "label_restart_4" %>
          </div>
        </ul>
          <div>
            <p><%= @rule.if_4 %></p>
            <p><%= @rule.then_4 %></p>
          </div>
      </div>
      <div class="habit5_content">
        <ul><h1 class="text_habit">マインド</h1>
          <div class="habit5_content_count">
            <%= f.check_box :count_5, checked: true, class: "count_5" %>
            <%= f.label :count_5, 'done!', class: "label_count_5" %>
            <br>
            <%= f.check_box :restart_5, checked: false, class: "restart_5" %>
            <%= f.label :restart_5, 'restart!', class: "label_restart_5" %>
          </div>
        </ul>
          <div>
            <p><%= @rule.if_5 %></p>
            <p><%= @rule.then_5 %></p>
          </div>
      </div>
    </div>
  <% end %>

  <div class="rule_main" id="rule_main">
    <% @counts.values.each do |val| %>
      <div class="rule1_content">
        <div class="career_text" id="career_text">
          <%= "通算" %><br><%= "#{val}回" %>
        </div>
      </div>
    <% end %>
  </div> 
  <div class="restart">
    <% @restarts.values.each do |i| %>
      <div class="restart_text" id="restart_text">
        <%= "restart#{i}回" %> 
      </div>
    <% end %>
  </div>

  <%= render "shared/login_after_footer" %>
</div>